@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
html, body {
  height: 100%;
  width: auto;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  padding: 0.8rem;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1rem !important;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000;
  color: #f2f3fb;
}

.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
  color: #f2f3fb;
}

#carousel-btn {
  background-color: #6648b1;
  border: 1px solid #6648b1;
}

#carousel-btn:hover {
  background-color: #563d7c;
  border: 1px solid #563d7c;
}

.jumbotron {
  padding: 1rem;
  border-radius: 0;
}

.padding {
  padding-bottom: 2rem;
}

.welcome {
  padding-top: 1rem;
  margin: 0 auto;
  align-self: center;
}

.welcome hr {
  width: 75%;
  border-top: 2px solid #b4b4b4;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.fa-code {
  color: #e54d26;
}

.fa-bold {
  color: #563d7c
}

.fa-js-square {
  color: #f7df1e;
}

.fa-css3 {
  color: #2163af;
}

.fa-code, .fa-bold, .fa-js-square, .fa-css3 {
  font-size: 4em;
  margin: 1rem;
}

.myhr {
  margin-bottom: 0;
  padding-bottom: 0;
}

.fun {
  width: 100%;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 2rem;
}

.gif {
  max-width: 100%;
}

.card img {
  height: 239px;
  width: 200;
}

.social a {
  font-size: 4.5em;
  padding: 3rem;
}

.fa-linkedin-in {
  color: #0077B5;
}

.fa-twitter {
  color: #00aced;
}

.fa-github {
  color: #333;
}

.fa-free-code-camp {
  color: #006400
}

.fa-linkedin-in:hover, .fa-twitter:hover, .fa-github:hover, .fa-free-code-camp:hover {
  color: #d5d5d5;
}

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding: 2rem;
}

footer a {
  color: #d5d5d5;
  top: 50%;
}

.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

footer .padding {
  padding-bottom: 0;
}

/*----Media Queries----*/

@viewport{
  width: device-width;
  zoom: 1;
}

@media (max-width: 992px) {
  .social a {
    font-size: 4rem;
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .carousel-caption {
    top: 50%;
  }
  .carousel-caption h1 {
    font-size: 350%;
  }
  .carousel-caption h3 {
    font-size: 140%;
    font-weight: 400;
    padding-bottom: .2rem;
  }
  .carousel-caption .btn {
    font-size: 95%;
    padding: 8px 14px;
  }
  .display-4 {
    font-size: 200%;
  }
  .social a {
    font-size: 2.5rem;
    padding: 1.2rem;
  }
}

@media (max-width: 576px) {
  .carousel-caption {
    top: 30%;
  }
  .carousel-caption h1 {
    font-size: 250%;
  }
  .carousel-caption h3 {
    font-size: 110%;
  }
  .carousel-caption .btn {
    font-size: 90%;
    padding: 4px 8px;
  }
  .carousel-indicators {
    display: none;
  }
  .display-4 {
    font-size: 160%;
  }
  .social a {
    font-size: 2rem;
    padding: .7rem;
  }
}

/*---Firefox Bug Fix --*/

.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Fixed Background Image --*/

figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#fixed {
  background-image: url('images/bridge.jpeg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

/*--- Bootstrap Padding Fix --*/

[class*='col-'] {
  padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
